<html ng-app="parafiaLubenia" lang="pl">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Yachts Site</title>
		<link rel="stylesheet" href="styles.css">
		<script src="scripts.js" charset="utf-8"></script>
	</head>
	<body ng-controller="indexCtrl">
		<div class="row">
			<div class="col-lg-3">
				<nav>
					<button ng-click="isOpen = true" ng-hide="isOpen"
							class="sidebar-button btn btn-light" type="button">
						<i class="fa fa-arrow-right"></i>
					</button>
					<div ng-class="{'active': isOpen}" class="nav list-group">
						<a href="/" class="list-group-item list-group-item-action list-group-item-light">
							Home
						</a>
						<a href="/intentions" class="list-group-item list-group-item-action list-group-item-light">
							Intencje
						</a>
						<a href="/news" class="list-group-item list-group-item-action list-group-item-light">
							Aktualności
						</a>
						<a href="/preachs" class="list-group-item list-group-item-action list-group-item-light">
							Duszpasterze
						</a>
						</a>
						<a href="/history" class="list-group-item list-group-item-action list-group-item-light">
							Historia
						</a>
						</a>
						<a href="/contact" class="list-group-item list-group-item-action list-group-item-light">
							Kontakt
						</a>
						<a href="#" ng-click="isOpen = false"
								class="list-group-item list-group-item-action list-group-item-light d-lg-none">
							Close
							<i class="fa fa-arrow-left"></i>
						</a>
					</div>
				</nav>
			</div>
			<div class="col">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<ng-view></ng-view>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					© Wszelkie prawa zastrzeżone
				</div>
			</div>
		</footer>
	</body>
</html>